<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Fundraising</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li class="active">
            <strong>Fundraising</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
        </div>
<div class="wrapper wrapper-content animated fadeIn">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-lg-6" align="center">
                        <h2>Create new fundraising campaign</h2>
                    </div>
                    <div class="col-lg-6" align="center">
                        <a href="<%= url_for :controller => 'forms', :action => 'basic_forms' %>" class="btn btn-primary">Add New</a>
                    </div>
                </div>
            </div>
            <div class="ibox-content text-center css-animation-box"><!-- Copy -->
                <br /><br />
                <h1 class="text-navy">Your campaigns</h1>
                <br /><br />

                <div class="row">
        <div class="col-lg-4">
            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px;">
                <div class="ibox-title">
                    <h5>Campaign Title</h5>
                </div>
                <div class="ibox-content">
                    <div><!-- Image here -->
                        <img alt="image" src="<%= image_url 'http://via.placeholder.com/350x150' %>"/>
                    </div>
                    <br />
                    <h4>Info</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <br />
                    <div>
                        <span>Status of funds:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="<%= url_for :controller => 'forms', :action => 'basic_forms' %>" class="btn btn-primary">View more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px;">
                <div class="ibox-title">
                    <h5>Campaign Title</h5>
                </div>
                <div class="ibox-content">
                    <div><!-- Image here -->
                        <img alt="image" src="<%= image_url 'http://via.placeholder.com/350x150' %>"/>
                    </div>
                    <br />
                    <h4>Info</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <br />
                    <div>
                        <span>Status of funds:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="<%= url_for :controller => 'forms', :action => 'basic_forms' %>" class="btn btn-primary">View more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox" style="border: 1px solid #f1e4e4; padding: 0px;">
                <div class="ibox-title">
                    <h5>Campaign Title</h5>
                </div>
                <div class="ibox-content">
                    <div><!-- Image here -->
                        <img alt="image" src="<%= image_url 'http://via.placeholder.com/350x150' %>"/>
                    </div>
                    <br />
                    <h4>Info</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <br />
                    <div>
                        <span>Status of funds:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <br />
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="<%= url_for :controller => 'forms', :action => 'basic_forms' %>" class="btn btn-primary">View more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>

</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.animation_select').click(function () {
        $('#animation_box').removeAttr('class').attr('class', '');
        var animation = $(this).attr("data-animation");
        $('#animation_box').addClass('animated');
        $('#animation_box').addClass(animation);
        return false;
    });

    var graph2 = new Rickshaw.Graph({
        element: document.querySelector("#rickshaw_multi"),
        renderer: 'area',
        stroke: true,
        series: [{
            data: [{ x: 0, y: 2 }, { x: 1, y: 5 }, { x: 2, y: 8 }, { x: 3, y: 4 }, { x: 4, y: 8 }],
            color: '#1ab394',
            stroke: '#17997f'
        }, {
            data: [{ x: 0, y: 13 }, { x: 1, y: 15 }, { x: 2, y: 17 }, { x: 3, y: 12 }, { x: 4, y: 10 }],
            color: '#eeeeee',
            stroke: '#d7d7d7'
        }]
    });
    graph2.renderer.unstack = true;
    graph2.render();
});

</script>

<% end %>




