<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
        </li>
        <li>
            <a>Fundraising</a>
        </li>
        <li class="active">
            <strong>Create Campaign</strong>
        </li>
    </ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" align="center">
                <h2>Create your fundraising campaign</h2>
            </div>
            <div class="ibox-content">

            <%= form_for (@fundraising) , html: {multipart: true } do |f|%>
                         <br />
                    <div align="center">
                        <p>Filling in your fundraising details here will go a long way to help you reach your targeted audience even faster</p>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="container">
                            <div>
                            <label class="control-label">Campaign Title</label>

                            </div>
                            <br />
                            <div class="col-sm-7">
                                <%= f.text_field :title , :placeholder => "Title" , :class => "form-control input-lg m-b"  %>
                                <%#<input type="text" placeholder="Title" class="form-control input-lg m-b" />%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Campaign Description</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                       <%= f.text_field :description , :placeholder => "Description" , :class => "form-control input-lg m-b"  %>

                                <%#<input type="text" placeholder="Description" class="form-control input-lg m-b" />%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Upload Image</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                  <%= f.file_field :campaign_pic , :class => "form-control input-lg m-b" %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">City</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                 <%= f.text_field :city , :placeholder => "Title" , :class => "form-control input-lg m-b"  %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Country</label>
                            </div>
                            <br />
                            <div class="col-sm-7 ">
                                <%=f.country_select :country , {}, {class: "form-control input-lg m-b" }  %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div>
                                <label class="control-label">Campaign Duration (Days)</label>
                            </div>
                            <br />
                            <div class="col-sm-7">
                                <input type="text" placeholder="Duration" class="form-control input-lg m-b" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <!-- "a href" link goes back to previous page -->
                            <a href="" class="btn btn-white" >Back</a>
                            <%#<button class="btn btn-primary" type="submit">Start my campaign!</button>%>
                            <%#<%= link_to "Start My Campaign" , single_page_fundraisings_path, :class => "btn btn-primary" %>
                          <%= f.submit "Start My Campaign" , :class => "btn btn-primary" %>

                        </div>
                    </div>

            <% end %>

            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>

<% end %>


