

<%= form_for(@user) do |f| %>

  <div class="field">
    <p>First Name </p>
    <%= f.text_field :first_name  %>
  </div>

  <div class="field">
    <p>Last Name </p>
    <%= f.text_field :Last_name  %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <div class="field">
    <p> Phone Number  </p> <br />
    <%= f.text_field :phone_number %>
  </div>

   <div class="field">
    <p> Profession  </p> <br />
    <%= f.text_field :profession %>
  </div>

   <div class="field">
    <p> Education  </p> <br />
    <%= f.text_field :education %>
  </div>


   <div class="field">
    <p> Skills  </p> <br />
    <%= f.text_field :skills %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>



