<p> Profile Page  </p>

<p> First Name: <%= @user.first_name  %>  </p>
<p> Last Name: <%= @user.Last_name  %>  </p>
<p> Profession: <%= @user.profession  %>  </p>
<p> skills: <%= @user.skills  %>  </p>
<br>
<br>
<br>

<p>  <%= link_to "Edit Profile", edit_user_path(@user) %>  </p>