<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="height: 90px;">
                    <span>
                        <img alt="image" src="<%= image_url 'logo12342.png' %>"/>
                    </span>
                </div>
                <div class="logo-element">
                    <img alt="image" src="<%= image_url 'logo-mob1.png' %>"/>
                </div>
            </li>
            <li class="<%= is_active_controller('organisations') %>">
                <%= link_to dashboard_path do %>
                <i class="fa fa-dashboard"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboard </span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('membershipdata') %>">
                <%= link_to membershipdata_path do %>
                <i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.tables">Members </span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('sms') %>">
                <%= link_to sms_organisations_path do %>
                <i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.tables">Text Message</span>
                <% end %>

            </li>

            <li class="<%= is_active_controller('fundraisings')  %>">
              <%= link_to fundraisings_path do %>
                <i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.animations">Fundraising </span>
                <% end %>
            </li>

            <li class="<%= is_active_controller('groups') %>">
            
                <a href="#"><i class="fa fa-group"></i> <span class="nav-label" data-i18n="nav.tables">Manage Network</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('tables') %>">
                    <li class="<%= is_active_action('announcements') %>"><%= link_to "Post Announcements", announcements_path %> </li>
                    <li class="<%= is_active_action('jobs') %>"><%= link_to "Post Jobs", jobs_path %></li>
                    <li class="<%= is_active_action('events') %>"><%= link_to "Post Events", events_path %></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>