<div class="row border-bottom nav-background">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed mobile-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" id="logo-margin"><img alt="NectHub" src="<%= image_url 'logo12342.png' %>" width="100px" height="35px" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mobile-links" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li>
            <%= link_to userfeed_path  , :class => "links_margin_top", :id => "color-for-links" do %>
                <i class="fa fa-home"></i> Home
            <% end %>
        </li>

        <li>
            <%= link_to skills_users_path  , :class => "links_margin_top", :id => "color-for-links" do %>
                <i class="fa fa-cogs"></i> Skills
            <% end %>
        </li>

        <li>
            <%= link_to memberprofiles_users_path  , :class => "links_margin_top", :id => "color-for-links" do %>
                <i class="fa fa-cogs"></i> Membership data
            <% end %>
        </li>

        <li>
            <%= link_to jobs_groups_path  , :class => "links_margin_top", :id => "color-for-links" do %>
                <i class="fa fa-briefcase"></i> Jobs
            <% end %>
        </li>
        <li>
            <%= link_to events_groups_path , :class => "links_margin_top", :id => "color-for-links" do %>
                <i class="fa fa-magic"></i> Events
            <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle links_margin_top" id="color-for-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
          <% if user_signed_in? %>
          <ul class="dropdown-menu animated fadeIn m-t-xs" id="dropdown-links">
            <li>
                <%= link_to "Profile", user_path(current_user.id) %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <%= link_to 'Log Out' , destroy_user_session_path %></a>
            </li>
          </ul>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>