<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NectHub - Me</title>


    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
    <%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <style>
        .sidebar-outer {
            position: relative;
        }
        @media (min-width: 768px) {
            .sidebar {
                position: fixed;
            }
        }
    </style>
        
    <style>

        .pic-width img {
            width: 200px;
        }
        
        .nav-background {
            background-color: #1ab394;
        }

        #color-for-links {
            color: #ffffff;
        }

        #color-for-links:hover {
            background-color: #1aa588;
            color: #ffffff;
        }

        #color-for-links:active {
            background-color: #1aa588;
            color: #ffffff;
        }

        /* Portrait and Landscape */
        @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 667px) 
        and (-webkit-min-device-pixel-ratio: 2) { 
            #logo-margin {
                margin-left: 0em;
            }

            .mobile-button {
                margin-top: 1.5em;
                margin-left: 13em;
                background-color: #ffffff;
                color: #1ab394;
            }

            .mobile-links {
                margin-top: 5em;
                margin-left: 2em;
            }
        }

        @media screen and (min-width: 768px){
            #logo-margin {
                margin-left: 7em;
            }

            .links_margin_top {
                margin-top: 1.0em;
                font-size: 1.2em;
            }

            
            
            
        }
    </style>



</head>
<body class="gray-bg">


            <!-- Page wrapper -->
            <%= render 'layouts/usertopnavbar' %>


             <% flash.each do |name, msg| %>
           <%= content_tag :div, msg, id: "flash_#{name}" %>
             <% end %>
            <!-- Main view  -->
            <%= yield %>




    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

</body>
</html>
