<div class="row">
  <div class="col-lg-1" style="">
  </div>
  <div class="col-lg-4" style="background-color: white;" align="center">
    <br /><br />
    <img alt="image" src="<%= image_url 'logo12341.png' %>" width="150px" height="50px" />
    <h2>Join your organisation</h2>
    <p>Receive all the benefits your organisation has to offer</p>
    <hr />
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control input-lg m-b"  %>
    </div>

    <div class="form-group">
      <%= f.text_field :Last_name, :placeholder => "Last Name", :class => "form-control input-lg m-b"  %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, :placeholder => "Email", :class => "form-control input-lg m-b"  %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control input-lg m-b"  %>
    </div>
     <div class="form-group">
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control input-lg m-b" %>
        </div>
    <br /><br />
    
    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-primary", :style => "width: 300px;" %>
    </div>

    <% end %>
    <br /><br />
    <p>Already part of an organisation? <%= render "users/shared/links" %></p>
    <br />
  </div>
  <div class="col-lg-7" style="">
  </div>
</div>
